{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a prototype of a service in development.
  </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" data-required data-error="Select yes if the organisation has connected persons"
          aria-required="true">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Does your organisation have any connected persons?
            </h1>
          </legend>
          <div id="connected-hint" class="govuk-hint">
            A ‘connected person‘ can be any of the following:
            <ul>
              <li>a person with significant control over the supplier</li>
              <li>a relevant legal entity,</li>
              <li>a director or shadow director of the supplier</li>
              <li>a parent undertaking or a subsidiary undertaking of the supplier</li>
              <li>an equivalent to any of the above</li>
              <li>an individual or organisation with the right to exercise, or who actually exercises, significant
                influence or control over the supplier, or over which the supplier has the right to exercise, or
                actually exercises, significant influence or control</li>
            </ul>
          </div>
          <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="connectedPsc" name="connectedPsc" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="connectedPsc">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="connectedPsc-2" name="connectedPsc" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="connectedPsc">
                No
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button govuk-!-margin-top-4" type="submit">Continue</button>
  </div>
  </form>


</div>
</div>

{% endblock %}