{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a prototype of a service in development.
  </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m" style="color: #1d70b8;">
      Connected persons
    </h2>
    <span class="govuk-caption-l"> {{ data['connectedPersons'] }}</span>

    <form class="form" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" data-required data-error="Enter the date the person became registerable"
          aria-required="true">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l">When did the person become registerable?</h1>
          </legend>

          <div id="dateRegisteredHint" class="govuk-hint">
            For example, 27 3 2007
          </div>
          <div class="govuk-date-input" id="dateRegistered">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dateRegisteredDay">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateRegisteredDay"
                  name="dateRegisteredDay" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dateRegisteredMonth">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateRegisteredMonth"
                  name="dateRegisteredMonth" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dateRegisteredYear">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dateRegisteredYear"
                  name="dateRegisteredYear" type="text" inputmode="numeric">
              </div>
            </div>

        </fieldset>
      </div>
      <button class="govuk-button" type="submit">Save and continue</button>
    </form>
  </div>

</div>
</div>

{% endblock %}