{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Prototype
        </strong>
        <span class="govuk-phase-banner__text">
            This is a prototype of a service in development.
    </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Connected persons
        </h2>

        <form class="form" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" data-required data-error="Select the connected person"
                    aria-required="true">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            What is the connected person`s function?
                        </h1>
                    </legend>

                    {% if data['companiesQuestion'] == 'Yes' and data['personQuestion'] == 'organisation' %}

                    <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-2Dis" name="connectedPersons" type="radio"
                                value="A relevant legal entity (registrable)">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                A relevant legal entity (registrable)
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-3Dis" name="connectedPersons" type="radio"
                                value="A director or shadow director of the supplier (org)">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                A director or shadow director of the supplier
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-3Dis" name="connectedPersons" type="radio"
                                value="A parent undertaking or a subsidiary undertaking of the supplier">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                A parent undertaking or a subsidiary undertaking of the supplier
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="connectedPersons" name="connectedPersons"
                                type="radio" value="A predecessor company of the supplier">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                A predecessor company of the supplier
                            </label>
                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-3Dis" name="connectedPersons" type="radio"
                                value="An organisation with the right to exercise control">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                An organisation with the right to exercise, or who actually exercises,
                                significant influence or control over the supplier, or over which the supplier has the
                                right to exercise, or actually exercises, significant influence or control.
                            </label>
                        </div>
                    </div>

                    {% elif data['companiesQuestion'] == 'Yes' %}

                    {% if data['personQuestion'] == 'person' or data ['personQuestion'] == 'trust' %}


                    <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="connectedPersons" name="connectedPersons"
                                type="radio" value="A person with significant control over the supplier">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                A person with significant control over the supplier
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-2Dis" name="connectedPersons" type="radio"
                                value="A director or shadow director of the supplier">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                A director or shadow director of the supplier
                            </label>
                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-3Dis" name="connectedPersons" type="radio"
                                value="Right to exercise control">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                An individual with the right to exercise, or who actually exercises, significant
                                influence or control over the supplier, or over which the supplier has the right to
                                exercise, or actually exercises, significant influence or control.
                            </label>
                        </div>
                    </div>

                    {% else %}

                    <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-2Dis" name="connectedPersons" type="radio"
                                value="Equivalent to a relevant legal entity (registrable)">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                Equivalent to a relevant legal entity (registrable)
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-2Dis" name="connectedPersons" type="radio"
                                value="Equivalent to a director or shadow director of the supplier">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                Equivalent to a director or shadow director of the supplier
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-2Dis" name="connectedPersons" type="radio"
                                value="Equivalent to a parent undertaking or a subsidiary undertaking of the supplier">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                Equivalent to a parent undertaking or a subsidiary undertaking of the supplier
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-2Dis" name="connectedPersons" type="radio"
                                value="Equivalent to a predecessor company of the supplier">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                Equivalent to a predecessor company of the supplier
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-3Dis" name="connectedPersons" type="radio"
                                value="Right to exercise control">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                An organisation with the right to exercise, or who actually exercises, significant
                                influence or control over the supplier, or over which the supplier has the right to
                                exercise, or actually exercises, significant influence or control.
                            </label>
                        </div>
                    </div>

                    {% endif %}

                    {% elif data['companiesQuestion'] == 'No' %}

                    {% if data['personQuestion'] == 'person' or data ['personQuestion'] == 'trust' %}

                    <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-2Dis" name="connectedPersons" type="radio"
                                value="Equivalent to a relevant legal entity (registrable)">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                Equivalent to a relevant legal entity (registrable)
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-2Dis" name="connectedPersons" type="radio"
                                value="Equivalent to a director or shadow director of the supplier">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                Equivalent to a director or shadow director of the supplier
                            </label>
                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-3Dis" name="connectedPersons" type="radio"
                                value="Right to exercise control">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                An individual with the right to exercise, or who actually exercises, significant
                                influence or control over the supplier, or over which the supplier has the right to
                                exercise, or actually exercises, significant influence or control.
                            </label>
                        </div>
                    </div>

                    {% else %}

                    <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-2Dis" name="connectedPersons" type="radio"
                                value="Equivalent to a relevant legal entity (registrable)">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                Equivalent to a relevant legal entity (registrable)
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-2Dis" name="connectedPersons" type="radio"
                                value="Equivalent to a director or shadow director of the supplier">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                Equivalent to a director or shadow director of the supplier
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-2Dis" name="connectedPersons" type="radio"
                                value="Equivalent to a parent undertaking or a subsidiary undertaking of the supplier">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                Equivalent to a parent undertaking or a subsidiary undertaking of the supplier
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-2Dis" name="connectedPersons" type="radio"
                                value="Equivalent to a predecessor company of the supplier">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                Equivalent to a predecessor company of the supplier
                            </label>
                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-3Dis" name="connectedPersons" type="radio"
                                value="Right to exercise control">
                            <label class="govuk-label govuk-radios__label" for="connectedPersons">
                                An organisation with the right to exercise, or who actually exercises, significant
                                influence or control over the supplier, or over which the supplier has the right to
                                exercise, or actually exercises, significant influence or control.
                            </label>
                        </div>
                    </div>

                    {% endif %}

                    {% endif %}

                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-top-4" type="submit">Save and continue</button>
    </div>
    </form>


</div>
</div>

{% endblock %}