{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a prototype of a service in development.
  </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h2 class="govuk-heading-m" style="color: #1d70b8;">
      Connected persons
    </h2>
  
    <form class="form" method="post">

      <fieldset class="govuk-fieldset" data-required data-error="Select yes if you want to remove this Connected "
        aria-required="true">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-fieldset__heading">
            Are you sure you want to remove this Connected person?
          </h2>
        </legend>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="removeConnected " name="removeConnectedPerson" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="removeConnected ">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="removeConnectedPerson" name="removeConnectedPerson" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="removeConnectedPerson">
              No
            </label>
          </div>
        </div>
      </fieldset>

      <div class="govuk-button-group govuk-!-margin-top-6">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>

    </form>

  </div>
</div>

{% endblock %}