{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Prototype
        </strong>
        <span class="govuk-phase-banner__text">
            This is a prototype of a service in development.
    </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <form class="form" method="post">

            <h2 class="govuk-heading-m" style="color: #1d70b8;">
                Connected persons
            </h2>
            <span class="govuk-caption-l"> {{ data['connectedPersons'] }}</span>

            <fieldset class="govuk-fieldset" data-required data-error="Select the nature of control"
                aria-required="true">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="controlNature-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                What is the nature of control?
                            </h1>
                        </legend>
                        <div id="controlNature-hint" class="govuk-hint">
                            Select which of the specified conditions in Part 1 of Schedule 1A to the Companies Act 2006
                            applies
                        </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="controlNature" name="controlNature"
                                    type="checkbox" value="Ownership of shares">
                                <label class="govuk-label govuk-checkboxes__label" for="controlNature">
                                    Ownership of shares:
                                </label>
                                <div id="controlNature-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    holds, directly or indirectly, more than 25% of the shares in the company
                                </div>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="controlNature-2" name="controlNature"
                                    type="checkbox" value="Ownership of voting rights">
                                <label class="govuk-label govuk-checkboxes__label" for="controlNature-2">
                                    Ownership of voting rights:
                                </label>
                                <div id="controlNature-2-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    holds, directly or indirectly, more than 25% of the voting rights in the company
                                </div>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="controlNature-3" name="controlNature"
                                    type="checkbox" value="Right to appoint or remove directors">
                                <label class="govuk-label govuk-checkboxes__label" for="controlNature-3">
                                    Right to appoint or remove directors:
                                </label>
                                <div id="controlNature-3-item-hint" class="govuk-hint govuk-radios__hint">
                                    holds the right, directly or indirectly, to appoint or remove a majority of the
                                    board of directors of the company
                                </div>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="controlNature-4" name="controlNature"
                                    type="checkbox" value="Significant influence or control">
                                <label class="govuk-label govuk-checkboxes__label" for="controlNature-4">
                                    Significant influence or control:
                                </label>
                                <div id="controlNature-3-item-hint" class="govuk-hint govuk-radios__hint">
                                    has the right to exercise, or actually exercises, significant influence or
                                    control
                                    over the company
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>



                <button class="govuk-button govuk-!-margin-top-4" type="submit">Save and continue</button>
        </form>

        </fieldset>
    </div>
</div>

{% endblock %}




<!--  Unused code from this file:    
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="controlNature-5"
                                        name="controlNature" type="radio" value="Trusts partnerships etc"
                                        aria-describedby="controlNature-5-item-hint">
                                    <label class="govuk-label govuk-radios__label" for="controlNature-5">
                                        Trusts partnerships etc:
                                    </label>
                                    <div id="controlNature-2-item-hint" class="govuk-hint govuk-radios__hint">
                                        (a)the trustees of a trust or the members of a firm that, under the law by which
                                        it
                                        is governed, is not a legal person meet any of the other specified conditions
                                        (in
                                        their capacity as such) in relation to company Y, or would do so if they were
                                        individuals, <br>
                                        and (b) X has the right to exercise, or actually exercises, significant
                                        influence or
                                        control over the activities of that trust or firm.
                                    </div>
                                </div>
                            </div>
                    </fieldset>
                </div>

            -->