{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Prototype
        </strong>
        <span class="govuk-phase-banner__text">
            This is a prototype of a service in development.
    </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-column-full-width">

    <h1 class="govuk-heading-l" style="color: #1d70b8;">
        Discretionary exclusion grounds
    </h1>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <form class="form" method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                {{ data['exclusionDis'] }}
                            </h2>
                        </legend>

                        <div id="mandatory-hint" class="govuk-hint govuk-!-margin-top-4">
                            In respect of paragraph 5 of Schedule 7 to the PA 2023 (Insolvency, Bankruptcy, etc), has
                            the supplier or a connected person:
                        </div>


                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                            <div class="govuk-radios__item govuk-!-margin-top-6">
                                <input class="govuk-radios__input" id="exclusionBankrupt" name="exclusionBankrupt"
                                    type="radio"
                                    value="(a) become bankrupt (or, in Scotland, its estate has been sequestrated)">
                                <label class="govuk-label govuk-radios__label" for="exclusionBankrupt">
                                    (a) become bankrupt (or, in Scotland, its estate has been sequestrated)
                                </label>
                            </div>


                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionBankrupt" name="exclusionBankrupt"
                                    type="radio" value="(b) become subject to insolvency or winding-up proceedings">
                                <label class="govuk-label govuk-radios__label" for="exclusionBankrupt">
                                    (b) become subject to insolvency or winding-up proceedings
                                </label>
                            </div>


                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionBankrupt" name="exclusionBankrupt"
                                    type="radio"
                                    value="(c) had its assets subject to administration or receivership, including by a liquidator or court">
                                <label class="govuk-label govuk-radios__label" for="exclusionBankrupt13">
                                    (c) had its assets subject to administration or receivership, including by a
                                    liquidator or court
                                </label>
                            </div>


                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionBankrupt" name="exclusionBankrupt"
                                    type="radio" value="(d) entered into an arrangement with its creditors">
                                <label class="govuk-label govuk-radios__label" for="exclusionBankrupt13">
                                    (d) entered into an arrangement with its creditors
                                </label>
                            </div>


                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionBankrupt" name="exclusionBankrupt"
                                    type="radio"
                                    value="(e) become subject to a petition or application for any such procedures or arrangements">
                                <label class="govuk-label govuk-radios__label" for="exclusionBankrupt13">
                                    (e) become subject to a petition or application for any such procedures or
                                    arrangements
                                </label>
                            </div>


                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionBankrupt" name="exclusionBankrupt"
                                    type="radio"
                                    value="(f) in any jurisdiction, been subject to a procedure or an application the decision-maker considers to correspond to any procedure or application mentioned in paragraphs (a) to (e)">
                                <label class="govuk-label govuk-radios__label" for="exclusionBankrupt">
                                    (f) in any jurisdiction, been subject to a procedure or an application the
                                    decision-maker considers to correspond to any procedure or application mentioned in
                                    paragraphs <a
                                        href="https://www.legislation.gov.uk/ukpga/2023/54/enacted#schedule-7-paragraph-5-a"
                                        target="_blank">(a) </a> to <a
                                        href="https://www.legislation.gov.uk/ukpga/2023/54/enacted#schedule-7-paragraph-5-e"
                                        target="_blank">(e). </a>
                                </label>
                            </div>

                        </div>


                    </fieldset>

                    <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                        Save and continue
                    </button>


                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block pageScripts %}

{% endblock %}