{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Prototype
        </strong>
        <span class="govuk-phase-banner__text">
            This is a prototype of a service in development.
    </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Discretionary exclusion grounds
        </h2>

        <span class="govuk-caption-l">
            {{ data['discretionaryExclusions'] }}
        </span>

        <form class="form" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" data-required data-error="Select the subject of the event"
                    aria-required="true">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Who has been the subject of the event?
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            {% if data['startQuestion'] != "Individual" %}
                            <input class="govuk-radios__input" id="eventSubDis" name="eventSubDis" type="radio"
                                value="Tech Innovators Ltd">
                            <label class="govuk-label govuk-radios__label" for="eventSubDis">
                                Tech Innovators Ltd
                            </label>
                            {% else %}
                            <input class="govuk-radios__input" id="eventSubDis" name="eventSubDis" type="radio"
                                value="John Smith">
                            <label class="govuk-label govuk-radios__label" for="eventSubDis">
                                John Smith
                            </label>
                            {% endif %}
                        </div>
                        {% for connectedPerson in data['connectedPersonArray'] %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSub-3Dis" name="eventSubDis" type="radio"
                                value="{{ connectedPerson['connectedPerson'] }}">
                            <label class="govuk-label govuk-radios__label" for="eventSubDis">
                                {{ connectedPerson['connectedPerson'] }}
                            </label>
                        </div>

                        {% endfor %}

                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="eventSubDis-or" name="eventSubDis" type="radio"
                                value="Not listed">
                            <label class="govuk-label govuk-radios__label" for="eventSubDis-or">
                                Not listed
                            </label>
                            <div id="eventSubDis-hint" class="govuk-hint govuk-radios__hint">
                                You’ll have to declare this person as a Connected Person before you can add them here.
                                This option will take you to the Connected Person page.
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-top-4" type="submit">Save and continue</button>
    </div>
    </form>


</div>
</div>

{% endblock %}