{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a prototype of a service in development.
  </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-column-full-width">

  <h1 class="govuk-heading-l" style="color: #1d70b8;">
    Discretionary exclusion grounds
  </h1>

  <span class="govuk-caption-l">
    {{ data['discretionary'] }}
  </span>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" data-required data-error="Select one option" aria-required="true">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Has the supplier or a connected person been the subject of any of the following events, referred to in
                Schedule 7 of the Procurement Act 2023
              </h1>
            </legend>

            <div id="mandatory-hint" class="govuk-hint govuk-!-margin-top-4">
              Select one option at a time, at the end of the journey you will be able to add more exclusions
            </div>

            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item govuk-!-margin-top-6">
                <input class="govuk-radios__input" id="exclusionDis" name="exclusionDis" type="radio"
                  value="Labour market misconduct">
                <label class="govuk-label govuk-radios__label" for="exclusionDis">
                  <strong>Labour market misconduct</strong>
                </label>
              </div>

              <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Exclusion details
                  </span>
                </summary>

                <div class="govuk-details__text">

                  A discretionary exclusion ground applies to a supplier if any of the following orders has been made
                  against the supplier or a connected person<br><br>

                  (a) a slavery and trafficking prevention order, an interim slavery and trafficking prevention order, a
                  slavery and trafficking risk order or an interim slavery and trafficking risk order under Part 2 of
                  the<br>

                  Modern Slavery Act 2015;<br>

                  (b) a trafficking and exploitation prevention order, an interim trafficking and exploitation
                  prevention order, a trafficking and exploitation risk order or an interim trafficking and exploitation
                  risk order
                  under Part 4 of the Human Trafficking and Exploitation (Scotland) Act 2015 (asp 12);<br>

                  (c) a slavery and trafficking prevention order or an interim slavery and trafficking prevention order
                  under Schedule 3 to the Human Trafficking and Exploitation (Criminal Justice and Support for Victims)
                  Act (Northern Ireland) 2015 (c.2 (N.I.));<br>

                  (d) a labour market enforcement order under section 18 of the Immigration Act 2016.<br>

                  A discretionary exclusion ground applies to a supplier if the supplier or a connected person has
                  engaged in conduct outside the United Kingdom that the decision-maker considers could result in any
                  such order being made if the conduct occurred in the United Kingdom.<br><br>

                  A discretionary exclusion ground applies to a supplier if the decision-maker considers that there is
                  sufficient evidence that the supplier or a connected person has engaged in conduct (whether in or
                  outside the United Kingdom) constituting (or that would, if it occurred in the United Kingdom,
                  constitute) an offence referred to in<br><br>

                  (a)section 1, 2, 4 or 30 of the Modern Slavery Act 2015,<br>

                  (b)section 1, 4 or 32 of the Human Trafficking and Exploitation (Scotland) Act 2015, or<br>

                  (c)section 1, 2 or 4 of the Human Trafficking and Exploitation (Criminal Justice and Support for
                  Victims) Act (Northern Ireland) 2015, or paragraph 16 of Schedule 3 to that Act.<br>

                  Has, in respect of paragraph 2 of Schedule 7 to the PA 2023 (labour market misconduct), the supplier
                  or a connected person<br><br>

                  (a) been, or is being, investigated by a body or organisation for conduct outside the United

                  Kingdom that could result in an order mentioned in paragraph 1 of Schedule 7 to the PA 2023 being

                  made if the conduct occurred in the United Kingdom, or —<br>

                  (b) engaged in such conduct.<br>

                  Has, in respect of paragraph 3 of Schedule 7 to the PA 2023 (labour market misconduct), the supplier
                  or a connected person<br>

                  (a) been, or is being, investigated by a body or organisation for conduct (whether in or outside the

                  United Kingdom) constituting (or that would, if it occurred in the United Kingdom, constitute) an

                  offence referred to in<br>

                  (i) section 1, 2, 4 or 30 of the Modern Slavery Act 2015,<br>

                  (ii) section 1, 4 or 32 of the Human Trafficking and Exploitation (Scotland) Act 2015, or<br>

                  (iii) section 1, 2 or 4 of the Human Trafficking and Exploitation (Criminal Justice and Support for

                  Victims) Act (Northern Ireland) 2015, or paragraph 16 of Schedule 3 to that Act, or<br>

                  (b) engaged in such conduct.<br>


                </div>
              </details>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="exclusionDis" name="exclusionDis" type="radio"
                  value="Environmental misconduct">
                <label class="govuk-label govuk-radios__label" for="exclusionDis">
                  <strong>Offence relating to environmental misconduct</strong>
                </label>
              </div>
            </div>

            <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Exclusion details
                </span>
              </summary>

              <div class="govuk-details__text">
                A discretionary exclusion ground applies to a supplier if<br><br>

                (a) the supplier or a connected person has been convicted of an offence (whether in or outside the

                United Kingdom), and<br>

                (b) the conduct constituting the offence caused, or had the potential to cause, significant harm to the

                environment, including the life and health of plants and animals. <br>
              </div>
            </details>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionDis" name="exclusionDis" type="radio"
                value="Insolvency, bankruptcy, etc">
              <label class="govuk-label govuk-radios__label" for="exclusionDis">
                <strong>Insolvency, bankruptcy, etc</strong>
              </label>
            </div>

            <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Exclusion details
                </span>
              </summary>
              <div class="govuk-details__text">
                A discretionary exclusion ground applies to a supplier if the supplier or a connected person has<br><br>

                (a) become bankrupt (or, in Scotland, its estate has been sequestrated),<br>

                (b) become subject to insolvency or winding-up proceedings,<br>

                (c) had its assets subject to administration or receivership, including by a liquidator or court,<br>

                (d) entered into an arrangement with its creditors,<br>

                (e) become subject to a petition or application for any such procedures or arrangements, or<br>

                (f) in any jurisdiction, been subject to a procedure or an application the decision-maker considers
                to—<br>

                correspond to any procedure or application mentioned in paragraphs <a
                  href="https://www.legislation.gov.uk/ukpga/2023/54/enacted#schedule-7-paragraph-5-a"
                  target="_blank">(a)</a> to <a
                  href="https://www.legislation.gov.uk/ukpga/2023/54/enacted#schedule-7-paragraph-5-e"
                  target="_blank">(e).</a><br>
              </div>
            </details>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionDis" name="exclusionDis" type="radio"
                value="Suspension or ceasing to carry on all or a substantial part of business">
              <label class="govuk-label govuk-radios__label" for="exclusionDis">
                <strong>Suspension or ceasing to carry on all or a substantial part of business</strong>
              </label>
            </div>
            <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Exclusion details
                </span>
              </summary>
              <div class="govuk-details__text">
                A discretionary exclusion ground applies to a supplier if the supplier or a connected person has
                suspended or ceased carrying on all or a substantial part of its business.
              </div>
            </details>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionDis" name="exclusionDis" type="radio"
                value="Infringement of Competition Act 1998, Chapter II prohibition or equivalent  outside United Kingdom">
              <label class="govuk-label govuk-radios__label" for="exclusionDis">
                <strong>Infringement of Competition Act 1998, Chapter II prohibition or equivalent outside United
                  Kingdom</strong>
              </label>
            </div>
            <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Exclusion details
                </span>
              </summary>

              <div class="govuk-details__text">
                A discretionary exclusion ground applies to a supplier if<br><br>

                (a) the CMA has made a decision under the Competition Act 1998 that the supplier or a connected

                person has infringed the Chapter II prohibition, or<br>

                (b)a regulator or other authority outside the United Kingdom has made a decision that the supplier or a

                connected person has infringed any substantially similar prohibition.<br>

                In this paragraph the reference to the CMA includes a reference to a regulator referred to in section
                54(1) of the Competition Act 1998 in circumstances where it exercises functions concurrently with the
                CMA in accordance with that Act.
              </div>
            </details>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionDis" name="exclusionDis" type="radio"
                value="Court etc ruling of professional misconduct">
              <label class="govuk-label govuk-radios__label" for="exclusionDis">
                <strong>Court etc ruling of professional misconduct</strong>
              </label>
            </div>
            <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Exclusion details
                </span>
              </summary>

              <div class="govuk-details__text">
                A discretionary exclusion ground applies to a supplier if a court, regulator or other authority has
                ruled that the supplier or connected person has engaged in such professional misconduct.<br><br>

                “Professional misconduct” includes conduct involving<br>

                (a) dishonesty;<br>

                (b) impropriety;<br>

                (c) a serious breach of ethical or professional standards applicable to the supplier (whether those
                standards are mandatory or not).

              </div>
            </details>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionDis" name="exclusionDis" type="radio"
                value="Breach of contract and poor performance">
              <label class="govuk-label govuk-radios__label" for="exclusionDis">
                <strong>Breach of contract and poor performance</strong>
              </label>
            </div>
            <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Exclusion details
                </span>
              </summary>

              <div class="govuk-details__text">
                A discretionary exclusion ground applies to a supplier if<br><br>

                (a)the supplier has breached a relevant contract, and<br>

                (b)the breach was sufficiently serious.<br>

                A discretionary exclusion ground applies to a supplier if<br>

                (a) a court has ruled that the supplier breached a relevant contract, and<br>

                (b)the breach was sufficiently serious.<br>

                A discretionary exclusion ground applies to a supplier if the supplier<br>

                (a) has not performed a relevant contract to the regulated authority’s satisfaction,<br>

                (b) was given proper opportunity to improve performance, and<br>

                (c) failed to do so.<br>

                A discretionary exclusion ground applies to a supplier if a contracting authority has published
                information under section 71(5) in respect of the supplier (information concerning either breach or poor
                performance).<br><br>

                For the purposes of this paragraph, a breach of a contract is “sufficiently serious” if it results
                in<br>

                (a) termination (or partial termination) of the contract,<br>

                (b) the award of damages,<br>

                (c) a settlement agreement between the supplier and the regulated authority.<br>

                In this paragraph<br>

                “regulated authority” means<br>

                (a) a contracting authority,<br>

                (b) another public authority, or<br>

                (c) an authority outside the United Kingdom that the decision-maker considers to be equivalent;<br>

                “relevant contract” means a contract to which a regulated authority is party.
              </div>
            </details>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionDis" name="exclusionDis" type="radio"
                value="Potential competition infringements including competition law infringements">
              <label class="govuk-label govuk-radios__label" for="exclusionDis">
                <strong>Potential competition infringements including competition law infringements</strong>
              </label>
            </div>
            <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Exclusion details
                </span>
              </summary>
              </legend>
              <div class="govuk-details__text">
                Has, in respect of paragraph 7 of Schedule 7 to the PA 2023 (potential competition
                infringements)<br><br>

                (a) been, or is being, investigated by a body or organisation

                over whether an agreement or concerted practice to which the supplier or a connected person is party

                has infringed<br>

                (i) the Chapter I prohibition (within the meaning given by section 2 of the Competition Act 1998),
                or<br>

                (ii) any substantially similar prohibition applicable in a jurisdiction outside the United Kingdom,
                or<br>

                (b) an agreement or concerted practice to which the supplier or a connected person is party has

                infringed such prohibitions,

                except in the circumstances mentioned in sub-paragraph (2) of paragraph 7.<br>

                Has, in respect of paragraph 8 of Schedule 7 to the PA 2023 (potential competition infringements), the
                supplier or a connected person<br><br>

                (a) been, or is being, investigated by a body or organisation over whether the supplier or a

                connected person has infringed—<br>

                (i) the Chapter II prohibition (within the meaning given by section 18 of the Competition Act 1998),
                or<br>

                (ii) any substantially similar prohibition applicable in a jurisdiction outside the United Kingdom,
                or<br>

                (b) infringed such prohibitions.<br>

                Has, in respect of paragraph 10 of Schedule 7 to the PA 2023 (potential competition law infringements),
                the supplier or a connected person<br><br>

                (a) been, or is being, investigated by a body or organisation for conduct constituting— (i) an

                offence under section 188 of the Enterprise Act 2002 (cartel offence), or<br>

                (ii) substantially similar offence under the law of a country/territory outside the United Kingdom,
                or<br>

                (b) engaged in such conduct,

                except in the circumstances mentioned in sub-paragraph (2) of paragraph 10.
              </div>
            </details>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionDis" name="exclusionDis" type="radio"
                value="Professional misconduct">
              <label class="govuk-label govuk-radios__label" for="exclusionDis">
                <strong>Professional misconduct</strong>
              </label>
            </div>
            <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Exclusion details
                </span>
              </summary>
              </legend>
              <div class="govuk-details__text">
                Has, in respect of paragraph 11 of Schedule 7 to the PA 2023 (professional misconduct), the supplier or
                a connected person<br><br>

                (a) been, or is being, investigated by a body or organisation for professional misconduct which

                brings into question the supplier’s integrity, or<br>

                (b) engaged in such misconduct.
              </div>
            </details>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionDis" name="exclusionDis" type="radio"
                value="Acting improperly in procurement">
              <label class="govuk-label govuk-radios__label" for="exclusionDis">
                <strong>Acting improperly in procurement</strong>
              </label>
            </div>
            <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Exclusion details
                </span>
              </summary>
              </legend>
              <div class="govuk-details__text">
                Has, in respect of paragraph 13 of Schedule 7 to the PA 2023, the supplier<br><br>

                (a) been, or is being, investigated by a body or organisation over whether the supplier acted

                improperly in relation to any procurement, and in so doing, put itself at an unfair advantage in
                relation to the award of a public contract, or<br>

                (b) acted improperly in that way.
              </div>
            </details>


            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionDis" name="exclusionDis" type="radio"
                value="None of the above">
              <label class="govuk-label govuk-radios__label" for="exclusionMan">
                <strong>None of the above</strong>
              </label>
            </div>

          </fieldset>

          <button class="govuk-button govuk-!-margin-top-9" data-module="govuk-button">
            Save and continue
          </button>
        </div>

      </form>

    </div>
  </div>
</div>

{% endblock %}

{% block pageScripts %}

{% endblock %}