{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Prototype
        </strong>
        <span class="govuk-phase-banner__text">
            This is a prototype of a service in development.
    </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-column-full-width">

    <h1 class="govuk-heading-l" style="color: #1d70b8;">
        Discretionary exclusion grounds
    </h1>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <form class="form" method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                {{ data['exclusionDis'] }}
                            </h2>
                        </legend>

                        <div id="mandatory-hint" class="govuk-hint govuk-!-margin-top-4">
                            In respect of paragraph 1 (orders relating to labour misconduct) of Schedule 7 to the PA
                            2023 (professional misconduct), has the supplier or a connected person:
                        </div>

                        <div class="govuk-hint govuk-!-margin-top-4">
                            Had orders made against them in respect to
                        </div>

                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                            <div class="govuk-radios__item govuk-!-margin-top-6">
                                <input class="govuk-radios__input" id="exclusionLabour" name="exclusionLabour"
                                    type="radio" value="Had orders made against them in respect to (a) a slavery and trafficking prevention order, an interim slavery and trafficking
                                    prevention order, a slavery and trafficking risk order or an interim slavery and
                                    trafficking risk
                                    order under Part 2 of the Modern Slavery Act 2015">
                                <label class="govuk-label govuk-radios__label" for="exclusionLabour">
                                    (a) a slavery and trafficking prevention order, an interim slavery and trafficking
                                    prevention order, a slavery and trafficking risk order or an interim slavery and
                                    trafficking risk
                                    order under Part 2 of the Modern Slavery Act 2015
                                </label>
                            </div>


                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionLabour" name="exclusionLabour"
                                    type="radio" value="Had orders made against them in respect to (b) a trafficking and exploitation prevention order, an interim trafficking and
                                    exploitation
                                    prevention order, a trafficking and exploitation risk order or an interim
                                    trafficking and
                                    exploitation risk order under Part 4 of the Human Trafficking and Exploitation
                                    (Scotland) Act">
                                <label class="govuk-label govuk-radios__label" for="exclusionLabour">
                                    (b) a trafficking and exploitation prevention order, an interim trafficking and
                                    exploitation
                                    prevention order, a trafficking and exploitation risk order or an interim
                                    trafficking and
                                    exploitation risk order under Part 4 of the Human Trafficking and Exploitation
                                    (Scotland) Act <a href="https://www.legislation.gov.uk/asp/2015/12/contents"
                                        target="_blank">2015 (asp 12)</a>
                                </label>
                            </div>


                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionLabour" name="exclusionLabour"
                                    type="radio" value="Had orders made against them in respect to (c) a slavery and trafficking prevention order or an interim slavery and trafficking
                                    prevention order under Schedule 3 to the Human Trafficking and Exploitation (Criminal Justice and Support 
                                    for Victims) Act (Northern Ireland) 2015 (c.2 (N.I.));">
                                <label class="govuk-label govuk-radios__label" for="exclusionLabour13">
                                    (c) a slavery and trafficking prevention order or an interim slavery and trafficking
                                    prevention order under Schedule 3 to the <a
                                        href="https://www.legislation.gov.uk/nia/2015/2/contents" target="_blank">Human
                                        Trafficking and Exploitation (Criminal Justice and Support
                                        for Victims) Act (Northern Ireland) 2015 (c.2 (N.I.));</a>
                                </label>
                            </div>


                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionLabour" name="exclusionLabour"
                                    type="radio"
                                    value="Had orders made against them in respect to (d) a labour market enforcement order under section 18 of the Immigration Act 2016.">
                                <label class="govuk-label govuk-radios__label" for="exclusionLabour13">
                                    (d) a labour market enforcement order under section 18 of the Immigration Act 2016
                                </label>
                            </div>


                        </div>
                    </fieldset>
                </div>
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">

                            <div id="mandatory-hint" class="govuk-hint govuk-!-margin-top-4">
                                In respect of paragraph 2 of Schedule 7 to the PA 2023 (labour market misconduct),
                                indicate if the supplier or a connected person:
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionLabour" name="exclusionLabour"
                                    type="radio" value="(a) has been, or is being, investigated for conduct outside the United Kingdom that
                                    could result in an order mentioned in paragraph 1 of Schedule 7 to the PA 2023 being
                                    made if the conduct occurred in the United Kingdom">
                                <label class="govuk-label govuk-radios__label" for="exclusionLabour13">
                                    (a) has been, or is being, investigated for conduct outside the United Kingdom that
                                    could result in an order mentioned in paragraph 1 of Schedule 7 to the PA 2023 being
                                    made if the conduct occurred in the United Kingdom
                                </label>
                            </div>


                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionLabour" name="exclusionLabour"
                                    type="radio" value="(b) has engaged in such conduct">
                                <label class="govuk-label govuk-radios__label" for="exclusionLabour">
                                    (b) has engaged in such conduct
                                </label>
                            </div>

                    </div>
                    </fieldset>
                </div>
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">

                            <div id="mandatory-hint" class="govuk-hint govuk-!-margin-top-4">
                                In respect of paragraph 2 of Schedule 7 to the PA 2023 (labour market misconduct),
                                indicate if the supplier or a connected person:
                            </div>


                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionLabour" name="exclusionLabour"
                                    type="radio"
                                    value="Under section 1, 2 or 4 of the Human Trafficking and Exploitation (Criminal Justice and Support for Victims) Act (Northern Ireland) 2015 (c. 2) (N.I.)), or paragraph 16 of Schedule 3 to that Act (slavery and human trafficking offences)">
                                <label class="govuk-label govuk-radios__label" for="exclusionLabour">
                                    Under section 1, 2 or 4 of the Human Trafficking and Exploitation (Criminal Justice
                                    and Support for Victims) Act <a
                                        href="https://www.legislation.gov.uk/nia/2015/2/contents"
                                        target="_blank">(Northern
                                        Ireland) 2015 (c. 2) (N.I.) </a>, or paragraph 16
                                    of Schedule 3 to that Act (slavery and human trafficking offences).
                                </label>
                            </div>

                    </div>
                    </fieldset>
                </div>
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">

                            <div id="mandatory-hint" class="govuk-hint govuk-!-margin-top-4">
                                In respect of paragraph 3 of Schedule 7 to the PA 2023 (labour market
                                misconduct), indicate if the supplier or a connected person
                            </div>

                            <div id="mandatory-hint" class="govuk-hint govuk-!-margin-top-4">
                                (a) has been, or is being, investigated for conduct (whether in or outside the United
                                Kingdom) constituting (or that would, if it occurred in the United Kingdom, constitute)
                                an offence referred to in
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionLabour" name="exclusionLabour"
                                    type="radio" value="(a) has been, or is being, investigated for conduct (whether in or outside the United
                                    Kingdom) constituting (or that would, if it occurred in the United Kingdom, constitute)
                                    an offence referred to in
                                    (i) section 1, 2, 4 or 30 of the Modern Slavery Act 2015">
                                <label class="govuk-label govuk-radios__label" for="exclusionLabour13">
                                    (i) section 1, 2, 4 or 30 of the Modern Slavery Act 2015
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionLabour" name="exclusionLabour"
                                    type="radio"
                                    value="(a) has been, or is being, investigated for conduct (whether in or outside the United
                                    Kingdom) constituting (or that would, if it occurred in the United Kingdom, constitute)
                                    an offence referred to in
                                    (ii) section 1, 4 or 32 of the Human Trafficking and Exploitation (Scotland) Act 2015">
                                <label class="govuk-label govuk-radios__label" for="exclusionLabour13">
                                    (ii) section 1, 4 or 32 of the Human Trafficking and Exploitation (Scotland) Act
                                    2015
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionLabour" name="exclusionLabour"
                                    type="radio"
                                    value="(a) has been, or is being, investigated for conduct (whether in or outside the United
                                    Kingdom) constituting (or that would, if it occurred in the United Kingdom, constitute)
                                    an offence referred to in
                                    (iii) section 1, 2 or 4 of the Human Trafficking and Exploitation (Criminal Justice and Support for Victims) Act (Northern Ireland) 2015, or paragraph 16 of Schedule 3 to that Act">
                                <label class="govuk-label govuk-radios__label" for="exclusionLabour13">
                                    (iii) section 1, 2 or 4 of the Human Trafficking and Exploitation (Criminal Justice
                                    and Support for Victims) Act (Northern Ireland) 2015, or paragraph 16 of Schedule 3
                                    to that Act
                                </label>
                            </div>


                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="exclusionLabour" name="exclusionLabour"
                                    type="radio" value="(b) has engaged in such conduct">
                                <label class="govuk-label govuk-radios__label" for="exclusionLabour13">
                                    (b) has engaged in such conduct
                                </label>
                            </div>


                        </fieldset>

                        <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                            Save and continue
                        </button>


                    </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block pageScripts %}

{% endblock %}