{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Prototype
        </strong>
        <span class="govuk-phase-banner__text">
            This is a prototype of a service in development.
    </p>
</div>


<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Mandatory exclusion grounds
        </h2>

        <span class="govuk-caption-l">
            {{ data['mandatory'] }}
        </span>

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                {% if data['postcode'] | length == "0" %}
                <h1 class="govuk-fieldset__heading">
                    Enter the supplier’s address manually
                </h1>
                {% else %}
                <h1 class="govuk-fieldset__heading">
                    Address not found, enter the supplier’s address
                </h1>
                {% endif %}
            </legend>
            <!--
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                {% if data['eventSubDis'] == "Supplier" and data['startQuestion'] == "Company" %}

                <h1 class="govuk-heading-l">Enter Tech Innovators's address manually</h1>

                {% elif data['eventSubDis'] == "Supplier" and data['startQuestion'] == "Individual" %}

                <h1 class="govuk-heading-l">Enter John Smith's address manually</h1>

                {% else %}

                <h1 class="govuk-heading-l">Enter {{ data['subNameDis'] }}`s address manually</h1>

                {% endif %}

            </legend>
            -->
            <form class="form" method="post">
                <div class="govuk-form-group">

                    <div class="govuk-form-group govuk-!-margin-top-3">
                        <label class="govuk-label" for="subjectDis-uk-address-line-1">
                            Address line 1
                        </label>
                        <input class="govuk-input" id="subjectDis-uk-address-line-1" name="subjectDis-uk-address-line-1"
                            type="text" value="{{ data['subjectDis-uk-address-line-1'] }}"
                            autocomplete="subjectDis-uk-address-line1">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="subjectDis-uk-address-line-2">
                            Address line 2 (optional)
                        </label>
                        <input class="govuk-input" id="subjectDis-uk-address-line-2" name="subjectDis-uk-address-line-2"
                            type="text" value="{{ data['subjectDis-uk-address-line-2'] }}"
                            autocomplete="subjectDis-uk-address-line-2">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="subjectDis-uk-address-town">
                            Town or city
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="subjectDis-uk-address-town"
                            name="subjectDis-uk-address-town" type="text"
                            value="{{ data['subjectDis-uk-address-town'] }}" autocomplete="subjectDis-uk-address-town">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="subjectDis-uk-address-postcode">
                            County (optional)
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="subjectDis-uk-address-county"
                            name="subjectDis-uk-address-county" type="text"
                            value="{{ data['subjectDis-uk-address-county'] }}"
                            autocomplete="subjectDis-uk-address-county">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="subjectDis-uk-address-postcode">
                            Post code
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="subjectDis-uk-address-postcode"
                            name="subjectDis-uk-address-postcode" type="text"
                            value="{{ data['subjectDis-uk-address-postcode'] }}" autocomplete="subject-postal-code">
                    </div>


                </div>
                <div class="govuk-form-group">
                    <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
                        Save and continue
                    </button>
                </div>

            </form>
        </fieldset>


    </div>
</div>




{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
<script src="/public/javascripts/script.js"></script>
<script src="/public/javascripts/data.js"></script>
{% endblock %}