{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a prototype of a service in development.
  </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <form class="form" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" data-required
          data-error="Enter the date trading began or registered under the companies act 2006" aria-required="true">

          {% if data['ca-question'] == 'Yes' %}

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l">Enter the date your company was registered under the companies act 2006.</h1>
          </legend>

          <div class="govuk-date-input" id="formation">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="formationDay">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="formationDay"
                  name="formationDay" type="text" inputmode="numeric" value="{{ data['formationDay'] }}">>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="formationMonth">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="formationMonth"
                  name="formationMonth" type="text" inputmode="numeric" value="{{ data['formationMonth']}}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="formationYear">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="formationYear"
                  name="formationYear" type="text" inputmode="numeric" value="{{ data['formationYear']}}">
              </div>
            </div>

            {% else %}

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l"> Enter an equivalent date of registration to the Companies Act of 2006 or the
                date you began trading.</h1>
            </legend>

            <div class="govuk-date-input" id="formation">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="formationDay">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="formationDay"
                    name="formationDay" type="text" inputmode="numeric" value="{{ data['formationDay'] }}">>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="formationMonth">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="formationMonth"
                    name="formationMonth" type="text" inputmode="numeric" value="{{ data['formationMonth']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="formationYear">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="formationYear"
                    name="formationYear" type="text" inputmode="numeric" value="{{ data['formationYear']}}">
                </div>
              </div>

              {% endif %}

        </fieldset>
      </div>
      <button class="govuk-button" type="submit">Save and exit</button>
    </form>
  </div>

</div>
</div>

{% endblock %}