{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a prototype of a service in development.
  </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" data-required data-error="Select yes if you are an SME organisation"
          aria-required="true">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Is your organisation any of the following?
            </h1>
          </legend>
          <div id="orgType-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="orgType" name="orgType" type="checkbox"
                value="A small or medium-sized enterprise">
              <label class="govuk-label govuk-checkboxes__label" for="orgType">
                A small or medium-sized enterprise
              </label>
            </div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  A "small and medium-sized enterprises” means suppliers that:
                </span>
              </summary>
              <div class="govuk-details__text">
                (a) have fewer than 250 staff, and <br>
                (b) have a turnover of an amount less than or equal to £44 million, or a balance sheet total of an
                amount less than or equal to £38 million </div>
            </details>


            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="orgType-2" name="orgType-2" type="checkbox"
                value="A non-governmental organisation">
              <label class="govuk-label govuk-checkboxes__label" for="orgType-2">
                A non-governmental organisation that is value-driven and which principally reinvests its surpluses to
                further social, environmental or cultural objectives
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="orgType-3" name="orgType-3" type="checkbox"
                value="A supported employment provider">
              <label class="govuk-label govuk-checkboxes__label" for="orgType-3">
                A supported employment provider
              </label>
            </div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  A "supported employment provider” means suppliers that:
                </span>
              </summary>
              <div class="govuk-details__text">
                A “supported employment provider” means an organisation that operates wholly or partly for the purpose
                of providing employment, or employment related support, to disabled or disadvantaged individuals
                where:<br>
                (a) disabled or disadvantaged individuals represent at least 30 per cent of
                the workforce of the organisation,<br>
                (b) if a particular part of the organisation is to perform the contract,
                disabled or disadvantaged individuals represent at least 30 per cent of
                the workforce of that part of the organisation, or<br>
                (c) if more than one organisation is to perform the contract, disabled or
                disadvantaged individuals represent at least 30 per cent of the
                combined workforce of—<br>
                (i) those organisations,<br>
                (ii) where a particular part of each organisation is to perform the
                contract, those parts, or<br>
                (iii) where a combination of organisations and parts is to perform
                the contract, those organisations and parts. </div>
            </details>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="orgType-4" name="orgType-4" type="checkbox"
                value="A public service mutual">
              <label class="govuk-label govuk-checkboxes__label" for="orgType-4">
                A public service mutual
              </label>
            </div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  A "public service mutual” means suppliers that:
                </span>
              </summary>
              <div class="govuk-details__text">
                An organisation that has previously left the public sector but continues delivering public services.
              </div>
            </details>

            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="orgType-5" name="orgType" type="checkbox"
                value="No, my organisation is none of the above" data-behaviour="exclusive">
              <label class="govuk-label govuk-checkboxes__label" for="orgType-5">
                No, my organisation is none of the above
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button govuk-!-margin-top-4" type="submit">Save and exit</button>
  </div>
  </form>


</div>
</div>

{% endblock %}