{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            Prototype
        </strong>
        <span class="govuk-phase-banner__text">
            This is a prototype of a service in development.
    </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Economic and Financial Standing
        </h2>
        <span class="govuk-caption-l">
            Upload the latest financial accounts for the last 2 years
        </span>


        <form class="form" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" data-required data-error="Upload the latest accounts"
                    aria-required="true">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="financialhint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    What is the financial year end of the period covered by the financial information?
                                </h1>
                            </legend>
                            <div id="date-hint" class="govuk-hint">
                                For example, 05 04 2022
                            </div>
                            <div class="govuk-date-input" id="financial">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="financialDay">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                            id="financialDay" name="financialDay" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="financialMonth">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                            id="financialMonth" name="financialMonth" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="financialYear">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                            id="financialYear" name="financialYear" type="text" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-top-4" type="submit">Save and continue</button>

        </form>

    </div>
</div>

{% endblock %}