{% extends "layout-moj.html" %}

{% block pageTitle %}
Prototype – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-m">GOV.UK Prototype Kit v12.3.0</span>
    <h1 class="govuk-heading-l" style="color: #1d70b8;">
      Supplier information Prototype
    </h1>



    <p>The prototype is a way of exploring ideas, and is subject to change.</p>
    <p>If for any reason the prototype does not behave as expected, simply hit the <a
        href="/prototype-admin/clear-data">Clear data</a> link in the footer.</p><br>

    <h2 class="govuk-heading-m">SI Prototype Version 4</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Last Updated</th>
          <th scope="col" class="govuk-table__header">Journey</th>
          <th scope="col" class="govuk-table__header">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">03/11/2023</td>
          <td class="govuk-table__cell">All journeys</td>
          <td class="govuk-table__cell">
            <a href="/start-page">Prototype</a>
            <br>
          </td>
        </tr>

      </tbody>
    </table>

    <h2 class="govuk-heading-m">SI Prototype Version 3</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Last Updated</th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">31/10/2023</td>
          <td class="govuk-table__cell">Password:</td>
          <td class="govuk-table__cell">Supplier-V3</td>
          <td class="govuk-table__cell">
            <a href="https://si-prototype-v3-4aa8b949bfc9.herokuapp.com/start-page">Prototype</a>
            <br>
          </td>
        </tr>

      </tbody>
    </table>

    <h2 class="govuk-heading-m">SI Prototype Version 2</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Last Updated</th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">31/10/2023</td>
          <td class="govuk-table__cell">Password:</td>
          <td class="govuk-table__cell">SI-V2</td>
          <td class="govuk-table__cell">
            <a href="https://si-prototype-v2-28b848ff1dde.herokuapp.com/start-page">Prototype</a>
            <br>
          </td>
        </tr>

      </tbody>
    </table>


    <h2 class="govuk-heading-m">SI Prototype Version 1</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Last Updated</th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">05/10/2023</td>
          <td class="govuk-table__cell">Password:</td>
          <td class="govuk-table__cell">RoS-Alpha</td>
          <td class="govuk-table__cell">
            <a href="https://si-prototype-616667192c06.herokuapp.com/">Prototype</a>
            <br>
          </td>
        </tr>

      </tbody>
    </table>

    <p>Contact <a href="mailto:nikolaos.gkionis@jumar.co.uk">Nikolaos Gkionis</a> (interaction designer), if you have
      any questions.
    </p>

  </div>
</div>

{% endblock %}